#story-bg {
    /* animation: story-background-color 5s infinite ;
    animation-timing-function: linear; */
}
@keyframes story-background-color {
    0% {
        width: 0%;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    150% {
        width: 150%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

button{
    display: none !important;
}