* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
    font-family: 'helvetica_neuemedium_extended';
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
    font-family: 'helvetica_neuemedium_extended';
	font-weight: 500;
}

a{
	color: #000;
}
p{
	line-height:1.6em;
	font-size: 16px;
    font-family: 'helvetica_neuemedium_extended';
	font-weight: 500;
	color: #000;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1280px;
}
@font-face {
    font-family: 'helvetica_neuemedium_extended';
    src: url('./assets/fonts/helvetica_neue_medium_extended-webfont.woff2') format('woff2'),
         url('./assets/fonts/helvetica_neue_medium_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}
img{
	width: 100%;
	display: block;
}